h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 50px;
}

body{
    background-color: black;
}

.motivation{
    border: 5px solid white;
    width: 100%;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}



